<%- include("../layouts/adminHeader.ejs")%> <%-
include("../layouts/adminHeader.ejs")%> <%-
include("../layouts/adminSideBar.ejs")%>

<div class="nk-content">
  <div class="container-fluid">
    <div class="nk-content-inner">
      <div class="nk-content-body">
        <div class="nk-block-head nk-block-head-sm">
          <div class="nk-block-between">
            <div class="nk-block-head-content">
              <h3 class="nk-block-title page-title">Customers</h3>
            </div>
            <div class="nk-block-head-content">
              <div class="toggle-wrap nk-block-tools-toggle">
                <a
                  href="#"
                  class="btn btn-icon btn-trigger toggle-expand me-n1"
                  data-target="more-options"
                  ><em class="icon ni ni-more-v"></em
                ></a>
                <div class="toggle-expand-content" data-content="more-options">
                  <ul class="nk-block-tools g-3">
                    <li>
                      <form id="searchForm" action="" method="get">
                        <div class="form-control-wrap">
                          <div class="form-icon form-icon-right">
                            <em id="searchIcon" class="icon ni ni-search" onclick="submitForm()"></em>
                          </div>
                          <input
                            type="text"
                            class="form-control"
                            id="default-04"
                            placeholder="Search by name"
                            name="search"
                          />
                        </div>
                      </form>
                      
                    </li>
                    <li>
                      <div class="drodown">
                        <a
                          href="#"
                          class="dropdown-toggle dropdown-indicator btn btn-outline-light btn-white"
                          data-bs-toggle="dropdown"
                          >Status</a
                        >
                        <div class="dropdown-menu dropdown-menu-end">
                          <ul class="link-list-opt no-bdr">
                            <li>
                              <a href="#"><span>Actived</span></a>
                            </li>
                            <li>
                              <a href="#"><span>Inactived</span></a>
                            </li>
                            <li>
                              <a href="#"><span>Blocked</span></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </li>
                   
                    <li class="nk-block-tools-opt">
                      <a href="#" class="btn btn-icon btn-primary d-md-none"
                        ><em class="icon ni ni-plus"></em></a
                      ><a
                        href="#"
                        class="btn btn-primary d-none d-md-inline-flex"
                        ><em class="icon ni ni-plus"></em><span>Add</span></a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
     
       
      
        <div class="nk-block">
          <div class="nk-tb-list is-separate mb-3">
            <div class="nk-tb-item nk-tb-head">
              <div class="nk-tb-col nk-tb-col-check">
                <div
                  class="custom-control custom-control-sm custom-checkbox notext"
                >
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="uid"
                  /><label class="custom-control-label" for="uid"></label>
                </div>
              </div>
              <div class="nk-tb-col">
                <span class="sub-text">User</span>
              </div>
              <div class="nk-tb-col tb-col-mb">
                <span class="sub-text">Ordered</span>
              </div>
              <div class="nk-tb-col tb-col-md">
                <span class="sub-text">Phone</span>
              </div>
              <div class="nk-tb-col tb-col-lg">
                <span class="sub-text">Country</span>
              </div>
              <div class="nk-tb-col tb-col-lg">
                <span class="sub-text">Last Order</span>
              </div>
              <div class="nk-tb-col tb-col-md">
                <span class="sub-text">Status</span>
              </div>
              <div class="nk-tb-col nk-tb-col-tools">
                <ul class="nk-tb-actions gx-1 my-n1">
                  <li>
                    <div class="drodown">
                      <a
                        href="#"
                        class="dropdown-toggle btn btn-icon btn-trigger me-n1"
                        data-bs-toggle="dropdown"
                        ><em class="icon ni ni-more-h"></em
                      ></a>
                      <div class="dropdown-menu dropdown-menu-end">
                        <ul class="link-list-opt no-bdr">
                          <li>
                            <a href="#"
                              ><em class="icon ni ni-mail"></em
                              ><span>Send Email to All</span></a
                            >
                          </li>
                          <li>
                            <a href="/admin/suspend"
                              ><em class="icon ni ni-na"></em
                              ><span>Suspend Selected</span></a
                            >
                          </li>
                          <li>
                            <a href="#"
                              ><em class="icon ni ni-trash"></em
                              ><span>Remove Seleted</span></a
                            >
                          </li>
                          <li>
                            <a href="#"
                              ><em class="icon ni ni-shield-star"></em
                              ><span>Reset Password</span></a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <%if(users.length>0){ for (let i=0 ; i < users.length;i++){%>
            <div class="nk-tb-item">
              <div class="nk-tb-col nk-tb-col-check">
                <div
                  class="custom-control custom-control-sm custom-checkbox notext"
                >
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="uid1"
                  /><label class="custom-control-label" for="uid1"></label>
                </div>
              </div>
              <div class="nk-tb-col">
                <a href="customer-details.html"
                  ><div class="user-card">
                    <div class="user-avatar bg-primary">
                      <span
                        ><%=users[i].firstname.charAt(0).toUpperCase() +
                        users[i].lastname.charAt(0).toUpperCase()%></span
                      >
                    </div>
                    <div class="user-info">
                      <span class="tb-lead">
                        <%=users[i].fullname%>
                        <span
                          class="dot dot-success d-md-none ms-1"
                        ></span></span
                      ><span><%=users[i].email%></span>
                    </div>
                  </div></a
                >
              </div>
              <div class="nk-tb-col tb-col-mb">
                <span class="tb-amount"
                  >35,040.34 <span class="currency">USD</span></span
                >
              </div>
              <div class="nk-tb-col tb-col-md">
                <span><%=users[i].mobile%></span>
              </div>
              <div class="nk-tb-col tb-col-lg">
                <span>United State</span>
              </div>
              <div class="nk-tb-col tb-col-lg">
                <span>10 Feb 2020</span>
              </div>
              <div class="nk-tb-col tb-col-md">
                <span class="tb-status text-success">
                  <% if (users[i].is_Verified == 1) { %>
                  <p class="text-success">active</p>
                  <% } else { %>
                  <p class="text-danger">Blocked</p>
                  <% } %></span
                >
              </div>
              <div class="nk-tb-col nk-tb-col-tools">
                <ul class="nk-tb-actions gx-1">
                  <li class="nk-tb-action-hidden">
                    <a
                      href="#"
                      class="btn btn-trigger btn-icon"
                      data-bs-toggle="tooltip"
                      data-bs-placement="top"
                      title="Send Email"
                      ><em class="icon ni ni-mail-fill"></em
                    ></a>
                  </li>
                  <li class="nk-tb-action-hidden">
                    <a
                      href=""
                      class="btn btn-trigger btn-icon"
                      data-bs-toggle="tooltip"
                      data-bs-placement="top"
                      title="Suspend"
                      ><em class="icon ni ni-user-cross-fill"></em
                    ></a>
                  </li>
                  <li>
                    <div class="drodown">
                      <a
                        href="#"
                        class="dropdown-toggle btn btn-icon btn-trigger"
                        data-bs-toggle="dropdown"
                        ><em class="icon ni ni-more-h"></em
                      ></a>
                      <div class="dropdown-menu dropdown-menu-end">
                        <ul class="link-list-opt no-bdr">
                          <li>
                            <a href="customer-details.html"
                              ><em class="icon ni ni-eye"></em
                              ><span>View Details</span></a
                            >
                          </li>
                          <li>
                            <a href="#"
                              ><em class="icon ni ni-repeat"></em
                              ><span>Orders</span></a
                            >
                          </li>
                          <li>
                            <a href="#"
                              ><em class="icon ni ni-activity-round"></em
                              ><span>Activities</span></a
                            >
                          </li>
                          <li class="divider"></li>
                          <li>
                            <a href="#"
                              ><em class="icon ni ni-shield-star"></em
                              ><span>Reset Pass</span></a
                            >
                          </li>
                          <% if (users[i].is_Verified == 0) { %>
                          <li>
                            <a href="/admin/activeuser?id=<%=users[i]._id %>"
                              ><em class="icon ni ni-eye-alt-fill"></em>

                              <span>active</span></a
                            >
                          </li>
                          <% } else { %>
                          <li>
                            <a href="/admin/suspenduser?id=<%=users[i]._id %>"
                              ><em class="icon ni ni-na"></em
                              ><span>Suspend</span></a
                            >
                          </li>
                          <% } %>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <%}}%>
          </div>

          <div class="card">
            <div class="card-inner">
              <div class="nk-block-between-md g-3">
                <div class="g">
                  <ul
                    class="pagination justify-content-center justify-content-md-start"
                  >
                  <% if (previospage > 0) { %>
                    <li class="page-item">
                      <a class="page-link" href="?page=<%= previospage %>&search=<%=search%>"
                        ><em   class="icon ni ni-chevrons-left"></em
                      ></a>
                    </li>
                    <% } %>
                    <% let page=0;
                    if(totalPages< 10){
                      page= Math.ceil(totalPages/3);
                    }else{
                      page= Math.floor(totalPages/5);
                    }
                    
                    for (let i=1;i<=page;i++){%>
                    <li class="page-item">
                      <a class="page-link" href="?page=<%= i %>&search=<%=search%>"><%=i%></a>

                    </li>
                    <%}%>
                   
                    
                    <li class="page-item">
                      <span class="page-link"
                        ><em class="icon ni ni-more-h"></em
                      ></span>
                    </li>
                    <% 
                    
                    for (let i=totalPages-1 ;i<=totalPages ;i++){%>
                    <li class="page-item">
                      <a  class="page-link" href="?page=<%=i %>&search=<%=search%>"><%=i%></a>
                    </li>
                    
                    <% } %> <% if (currentPage < totalPages) { %>
                    <li class="page-item">
                      <a class="page-link" href="?page=<%= nextpage %>&search=<%=search%>"
                        ><em  class="icon ni ni-chevrons-right"></em
                      ></a>
                    </li>
                    <% } %>
                  </ul>
                </div>
                <div class="g">
                  <div
                    class="pagination-goto d-flex justify-content-center justify-content-md-start gx-3"
                  >
              
                    <div>Page</div>
                    <div>
                      <select
              
                      class="form-select js-select2"
                      data-search="on"
                      onchange="window.location.href='?page=' + this.value"
                      
                      data-dropdown="xs center"
                    >
                      <% for (let i = 1; i <= totalPages; i++) { %>
                        <option value="<%= i %>" <% if (i === currentPage ) { %>selected<% } %>>
                          <%= i %>
                        </option>
                      <% } %>
                    </select>
                    </div>
                    <div><%=totalPages%></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<a
  class="pmo-st pmo-dark"
  target="_blank"
  href="https://softnio.com/get-early-access/"
  ><div class="pmo-st-img">
    <img
      src="/static/admin//static/admin/images/landing/promo-investorm.png"
      alt="Investorm"
    />
  </div>
  <div class="pmo-st-text">
    Looking for Advanced <br />
    Investment Platform?
  </div></a>

  
  <script>
    function submitForm() {
      // Get the form element by its ID
      var form = document.getElementById('searchForm');
      
      // Submit the form
      form.submit();
    }
  </script>



<script src="/static/admin/assets/js/bundlee5ca.js?ver=3.2.3"></script>
<script src="/static/admin/assets/js/scriptse5ca.js?ver=3.2.3"></script>
<script src="/static/admin/assets/js/demo-settingse5ca.js?ver=3.2.3"></script>

<!-- Mirrored from dashlite.net/demo2/ecommerce/customers.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 12 Oct 2023 14:33:03 GMT -->
<%- include("../layouts/adminHeader.ejs")%>