
<%-include("../layouts/adminHeader.ejs")%> 
<%-include("../layouts/adminSideBar.ejs")%>

          <div class="nk-content">
            <input type="hidden" value="<%= JSON.stringify(data) %>"id="data">
            <div class="container-fluid">
              <div class="nk-content-inner">
                <div class="nk-content-body">
                  <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                      <div class="nk-block-head-content">
                        <h3 class="nk-block-title page-title">Dashboard</h3>
                      </div>
                      <div class="nk-block-head-content">
                        <div class="toggle-wrap nk-block-tools-toggle">
                          <a
                            href="#"
                            class="btn btn-icon btn-trigger toggle-expand me-n1"
                            data-target="pageMenu"
                            ><em class="icon ni ni-more-v"></em
                          ></a>
                          <div class="toggle-expand-content" data-content="pageMenu">
                            <ul class="nk-block-tools g-3">
                             
                              <li>
                                <div class="btn-group" aria-label="Basic example">  
                                  <button type="button" onclick="loadfilter('weekly')" class="btn btn-dim btn-outline-primary">weely</button>
                                    <button type="button" onclick="loadfilter('monthly')" class="btn btn-dim btn-outline-primary">monthly</button>
                                      <button type="button" onclick="loadfilter('yearly')" class="btn btn-dim btn-outline-primary">yearly</button>
                                    </div>
                              </li>
                             
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="nk-block">
                    <div class="row g-gs">
                      <div class="col-xxl-4 col-md-6">
                        <div class="card is-dark h-100">
                          <div class="nk-ecwg nk-ecwg1">
                            <div class="card-inner">
                              <div class="card-title-group">
                                <div class="card-title">
                                  <h6 class="title">Total Sales</h6>
                                </div>
                                <div class="card-tools">
                                  <a href="#" class="link">View Report</a>
                                </div>
                              </div>
                              <div class="data">
                                <div class="amount">$<%=data.totalSaleForMonth%></div>
                               
                              </div>
                              <div class="data">
                                <h6 class="sub-title">This week so far</h6>
                                <div class="data-group">
                                 
                                  
                                </div>
                              </div>
                            </div>
                            <div
                              class="nk-ck-wrap mt-auto overflow-hidden rounded-bottom"
                            >
                              <div class="nk-ecwg1-ck">
                                <canvas
                                  class="ecommerce-line-chart-s1"
                                  id="totalSales"
                                ></canvas>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-4 col-md-6">
                        <div class="card h-100">
                          <div class="nk-ecwg nk-ecwg2">
                            <div class="card-inner">
                              <div class="card-title-group mt-n1">
                                <div class="card-title">
                                  <h6 class="title"> Order</h6>
                                </div>
                                <div class="card-tools me-n1">
                                  <div class="dropdown">
                                    <a
                                      href="#"
                                      class="dropdown-toggle btn btn-icon btn-trigger"
                                      data-bs-toggle="dropdown"
                                      ><em class="icon ni ni-more-h"></em
                                    ></a>
                                    <div
                                      class="dropdown-menu dropdown-menu-sm dropdown-menu-end"
                                    >
                                      <ul class="link-list-opt no-bdr">
                                        <li>
                                          <a href="#" class="active"
                                            ><span>15 Days</span></a
                                          >
                                        </li>
                                        <li>
                                          <a href="#"><span>30 Days</span></a>
                                        </li>
                                        <li>
                                          <a href="#"><span>3 Months</span></a>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="data">
                                <div class="data-group">
                                  <div class="amount"><%=data.totalOrderCountForMonth%></div>
                                  <div class="info text-end">
                                   
                                    
                                  </div>
                                </div>
                              </div>
                            
                            </div>
                            <div class="nk-ecwg2-ck">
                              <canvas
                                class="ecommerce-bar-chart-s1"
                                id="averargeOrder"
                              ></canvas>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-4">
                        <div class="row g-gs">
                          
                        </div>
                      </div>
                      <div class="col-xxl-8">
                        
                        <div class="card card-full">
                          <div class="card-inner">
                            <div class="card-title-group">
                              <div class="card-title">
                                <h6 class="title">Recent Orders</h6>
                              </div>
                            </div>
                          </div>

                          <div class="nk-tb-list mt-n2">
                            
                            <div class="nk-tb-item nk-tb-head">
                              <div class="nk-tb-col">
                                <span>Order No.</span>
                              </div>
                              <div class="nk-tb-col tb-col-sm">
                                <span>Customer</span>
                              </div>
                              <div class="nk-tb-col tb-col-md">
                                <span>Date</span>
                              </div>
                              <div class="nk-tb-col"><span>Amount</span></div>
                              <div class="nk-tb-col">
                                <span class="d-none d-sm-inline">Status</span>
                              </div>
                            </div>
                            <% recentOrders.forEach((value) => { %>
                            <div class="nk-tb-item">
                              <div class="nk-tb-col">
                                <span class="tb-lead"
                                  ><a href="#"><%=value.orderId%></a></span
                                >
                              </div>
                              <div class="nk-tb-col tb-col-sm">
                                <div class="user-card">
                                  <div class="user-avatar sm bg-purple-dim">
                                    <span><%=value.user.firstname.charAt(0).toUpperCase() +
                                      value.user.lastname.charAt(0).toUpperCase()%></span>
                                  </div>
                                  <div class="user-name">
                                    <span class="tb-lead"
                                      ><%=value.user.firstname%></span
                                    >
                                  </div>
                                </div>
                              </div>
                              <div class="nk-tb-col tb-col-md">
                                <span class="tb-sub"><%= moment(value.orderDate).format('DD/MM/YYYY') %>
                                </span>
                              </div>
                              <div class="nk-tb-col">
                                <span class="tb-sub tb-amount"
                                  >₹ <%=value.amount%> <span> INR</span></span
                                >
                              </div>
                              <div class="nk-tb-col">
                                <%if(value.paymentMethod=="online"){%>
                                <span
                                  class="badge badge-dot badge-dot-xs bg-success"
                                  >Online</span>
                                  <%}else if(value.paymentMethod=="Wallet"){%>
                                    <span
                                  class="badge badge-dot badge-dot-xs bg-danger"
                                  >Wallet</span>
                                    <%}else{%>
                                      <span
                                      class="badge badge-dot badge-dot-xs bg-danger"
                                      >Cash on Devilery</span>

                                    <%}%>
                              </div>
                            </div>
                            <% }) %>
                          </div>
                        
                        </div>
                      
                      </div>
                      <div class="col-xxl-3 col-md-6">
                        <div class="card h-100">
                          <div class="card-inner">
                            <div class="card-title-group mb-2">
                              <div class="card-title">
                                <h6 class="title">Store Statistics</h6>
                              </div>
                            </div>
                            <ul class="nk-store-statistics">
                              <li class="item">
                                <div class="info">
                                  <div class="title">Orders</div>
                                  <div class="count"><%=totalData.orderData.length%></div>
                                </div>
                                <em class="icon bg-primary-dim ni ni-bag"></em>
                              </li>
                              <li class="item">
                                <div class="info">
                                  <div class="title">Customers</div>
                                  <div class="count"><%=totalData.UserData.length%></div>
                                </div>
                                <em class="icon bg-info-dim ni ni-users"></em>
                              </li>
                              <li class="item">
                                <div class="info">
                                  <div class="title">Products</div>
                                  <div class="count"><%=totalData.ProductData.length%></div>
                                </div>
                                <em class="icon bg-pink-dim ni ni-box"></em>
                              </li>
                              <li class="item">
                                <div class="info">
                                  <div class="title">Categories</div>
                                  <div class="count"><%=totalData.CategoryData.length%></div>
                                </div>
                                <em
                                  class="icon bg-purple-dim ni ni-server"
                                ></em>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-5 col-lg-6">
                        <div class="card card-full overflow-hidden">
                          <div class="nk-ecwg nk-ecwg4 h-100">
                            <div class="card-inner flex-grow-1">
                              <div class="card-title-group mb-4">
                                <div class="card-title">
                                  <h6 class="title">Traffic Sources</h6>
                                </div>
                                
                              </div>
                              <div class="data-group">
                                <div class="nk-ecwg4-ck">
                                  <canvas
                                    class="ecommerce-doughnut-s1"
                                    id="trafficSources"
                                  ></canvas>
                                </div>
                                <ul class="nk-ecwg4-legends">
                                  <li>
                                    <div class="title">
                                      <span
                                        class="dot dot-lg sq"
                                        data-bg="#9cabff"
                                      ></span
                                      ><span>Online Payment</span>
                                    </div>
                                    <div class="amount amount-xs"><%=data.paymentCounts.online%></div>
                                  </li>
                                  <li>
                                    <div class="title">
                                      <span
                                        class="dot dot-lg sq"
                                        data-bg="#ffa9ce"
                                      ></span
                                      ><span>Cash On Delivery</span>
                                    </div>
                                    <div class="amount amount-xs"><%=data.paymentCounts.cashOnDelivery%></div>
                                  </li>
                                  <li>
                                    <div class="title">
                                      <span
                                        class="dot dot-lg sq"
                                        data-bg="#b8acff"
                                      ></span
                                      ><span>Wallet</span>
                                    </div>
                                    <div class="amount amount-xs"><%=data.paymentCounts.wallet%></div>
                                  </li>
                                  
                                
                                </ul>
                              </div>
                            </div>
                            <div class="card-inner card-inner-md bg-light">
                              <div class="card-note">
                                <em class="icon ni ni-info-fill"></em
                                ><span
                                  >Traffic channels have beed generating the
                                  most traffics over past days.</span
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
  
    <script src="/static/admin/assets/js/bundlee5ca.js"></script>
    <script src="/static/admin/assets/js/scriptse5ca.js"></script>
  
    <script src="/static/admin/assets/js/charts/chart-ecommercee5ca.js"></script>
    <script src="/static/admin/assets/js/demo-settingse5ca.js"></script>

    <script>
      function loadfilter(days) {
        // Construct the new URL with the query parameter
        const newUrl = `/admin/dashboard?filter=${days}`;
      
        // Redirect to the new URL
        window.location.href = newUrl;
      }
      </script>

  </body>
  <!-- Mirrored from dashlite.net/demo2/ecommerce/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 12 Oct 2023 14:32:19 GMT -->
</html>
