<%- include("../layouts/adminHeader.ejs")%> <%-
include("../layouts/adminSideBar.ejs")%>
<div class="nk-content">
  <div class="container-fluid">
    <div class="nk-content-inner">
      <div class="nk-content-body">
        <div class="nk-block-head nk-block-head-sm">
          <div class="nk-block-between">
            <div class="nk-block-head-content">
              <h3 class="nk-block-title page-title">Products</h3>
            </div>
            <div class="nk-block-head-content">
              <div class="toggle-wrap nk-block-tools-toggle">
                <a
                  href="#"
                  class="btn btn-icon btn-trigger toggle-expand me-n1"
                  data-target="pageMenu"
                  ><em class="icon ni ni-more-v"></em
                ></a>
                <div class="toggle-expand-content" data-content="pageMenu">
                  <ul class="nk-block-tools g-3">
                    <li>
                      <form id="searchForm" action="" method="get">
                        <div class="form-control-wrap">
                          <div class="form-icon form-icon-right">
                            <em
                              id="searchIcon"
                              class="icon ni ni-search"
                              onclick="submitForm()"
                            ></em>
                          </div>
                          <input
                            type="text"
                            class="form-control"
                            id="default-04"
                            placeholder="Search by name"
                            name="search"
                          />
                        </div>
                      </form>
                    </li>
                   
                    <li class="nk-block-tools-opt">
                      <a href="addproducts" class="btn btn-primary">
                        <em class="icon ni ni-plus"></em>
                        <span>Add Product</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="nk-block">
          <div class="nk-tb-list is-separate mb-3">
            <div class="nk-tb-item nk-tb-head">
             
              <div class="nk-tb-col tb-col-sm"><span>Name</span></div>
              <div class="nk-tb-col"><span>Status</span></div>
              <div class="nk-tb-col"><span>Price</span></div>
              <div class="nk-tb-col"><span>Stock</span></div>
              <div class="nk-tb-col tb-col-md"><span>Category</span></div>
              <div class="nk-tb-col tb-col-md"><span>Offer</span></div>
              <div class="nk-tb-col nk-tb-col-tools">
                <ul class="nk-tb-actions gx-1 my-n1">
                  <li class="me-n1">
                    <div class="">
                     
                      
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <%products.forEach((value,index)=>{%>

            <div class="nk-tb-item">
            
              <div class="nk-tb-col tb-col-sm">
                <span class="tb-product"
                  ><img
                    src="/static/productsImages/<%=value.images.image1%>"
                    alt=""
                    class="thumb"
                  /><span class="title"><%=value.productname%></span></span
                >
              </div>
              <div class="nk-tb-col">
                <span class="tb-sub">
                  <% if (value.active == 0) { %>
                  <p class="text-success">active</p>
                  <% } else { %>
                  <p class="text-danger">Blocked</p>
                  <% } %></span
                >
              </div>
              <div class="nk-tb-col">
                <span class="tb-lead"> <%=value.price%></span>
              </div>
              <div class="nk-tb-col">
                <span class="tb-sub"><%=value.stock%></span>
              </div>
              <div class="nk-tb-col tb-col-md">
                <span class="tb-sub"><%=value.frameshape%></span>
              </div>
              <div class="nk-tb-col tb-col-md">
                <% if (value.offer&& value.offer.action==1 ) { %>
                <p>
                  <span class="tb-sub"
                    ><%=value.offer.offername%>,
                    <%=value.offer.percentage%>%</span
                  >
                </p>
                <% } else { %>
                <span class="tb-sub text-center">Not available</span>
                <% } %>
              </div>
              <div class="nk-tb-col nk-tb-col-tools">
                <ul class="nk-tb-actions gx-1 my-n1">
                  <li class="me-n1">
                    <div class="dropdown">
                      <a
                        href="#"
                        class="dropdown-toggle btn btn-icon btn-trigger"
                        data-bs-toggle="dropdown"
                        ><em class="icon ni ni-more-h"></em
                      ></a>
                      <div class="dropdown-menu dropdown-menu-end">
                        <ul class="link-list-opt no-bdr">
                          <li>
                            <a href="editproducts?id=<%=value._id%>"
                              ><em class="icon ni ni-edit"></em
                              ><span>Edit Product</span></a
                            >
                          </li>
                          <li>
                            <a
                              href="#"
                              data-bs-toggle="modal"
                              data-bs-target="#modalDefault<%=value._id%>"
                              ><em class="icon ni ni-offer-fill"></em
                              ><span>Apply New Offer</span></a
                            >
                          </li>
                          <% if (value.offer!=null ) { %>
                          <li>
                            <a
                              onclick="actionOfferproduct('<%=value._id%>','<%=value.offername%>')"
                            >
                              <em class="icon ni ni-eye-off-fill"></em>
                              <span>Remove Offer</span>
                            </a>
                          </li>
                          <% } %> <% if (value.active== 0) { %>
                          <li>
                            <a href="/admin/suspendproduct?id=<%=value._id %>"
                              ><em class="icon ni ni-na"></em
                              ><span>Suspend</span></a
                            >
                          </li>

                          <% } else { %>
                          <li>
                            <a href="/admin/activeproduct?id=<%=value._id %>"
                              ><em class="icon ni ni-eye-alt-fill"></em>

                              <span>active</span></a
                            >
                          </li>
                          <% } %>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <!-- Modal Content Code -->
            <div
              class="modal modal-lg modal-dialog-top fade"
              tabindex="-1"
              id="modalDefault<%=value._id%>"
            >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <a
                    href="#"
                    class="close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  >
                    <em class="icon ni ni-cross"></em>
                  </a>
                  <div class="modal-header">
                    <h3 class="modal-title">Offers</h3>
                  </div>
                  <div
                    class="modal-body container ro d-flex justify-content-center"
                  >
                    <div class="row justify-content-center">
                      <% offerData.forEach((offer) => { %>
                      <div
                        class="col-md-5 col-sm-12 m-3 size"
                        onclick="sendOfferId('<%= offer._id %>','<%= value._id %>')"
                      >
                        <div class="coupon-card">
                          <h3><%= offer.offername %></h3>
                          <h3><%= offer.percentage %>% OFF</h3>
                          <p>
                            Valid Till: <%= new
                            Date(offer.expiryDate).toLocaleDateString('en-US', {
                            month: '2-digit', day: '2-digit', year: 'numeric' })
                            %>
                          </p>
                          <div class="circle1"></div>
                          <div class="circle2"></div>
                        </div>
                      </div>
                      <% }) %>
                    </div>
                  </div>
                  <div class="modal-footer bg-light">
                    <span class="sub-text">Modal Footer Text</span>
                  </div>
                </div>
              </div>
            </div>
            <%})%>
          </div>

          <div class="card">
            <div class="card-inner">
              <div class="nk-block-between-md g-3">
                <div class="g">
                  <ul
                    class="pagination justify-content-center justify-content-md-start"
                  >
                    <% if (previospage > 0) { %>
                    <li class="page-item">
                      <a
                        class="page-link"
                        href="?page=<%= previospage %>&search=<%=search%>"
                        ><em class="icon ni ni-chevrons-left"></em
                      ></a>
                    </li>
                    <% } %> <% let page=0; if(totalPages< 10){ page=
                    Math.ceil(totalPages/3); }else{ page=
                    Math.floor(totalPages/5); } for (let i=1;i<=page;i++){%>
                    <li class="page-item">
                      <a
                        class="page-link"
                        href="?page=<%= i %>&search=<%=search%>"
                        ><%=i%></a
                      >
                    </li>
                    <%}%>

                    <li class="page-item">
                      <span class="page-link"
                        ><em class="icon ni ni-more-h"></em
                      ></span>
                    </li>
                    <% for (let i=totalPages-1 ;i<=totalPages ;i++){%>
                    <li class="page-item">
                      <a
                        class="page-link"
                        href="?page=<%=i %>&search=<%=search%>"
                        ><%=i%></a
                      >
                    </li>

                    <% } %> <% if (currentPage < totalPages) { %>
                    <li class="page-item">
                      <a
                        class="page-link"
                        href="?page=<%= nextpage %>&search=<%=search%>"
                        ><em class="icon ni ni-chevrons-right"></em
                      ></a>
                    </li>
                    <% } %>
                  </ul>
                </div>
                <div class="g">
                  <div
                    class="pagination-goto d-flex justify-content-center justify-content-md-start gx-3"
                  >
                    <div>Page</div>
                    <div>
                      <select
                        class="form-select js-select2"
                        data-search="on"
                        onchange="window.location.href='?page=' + this.value"
                        data-dropdown="xs center"
                      >
                        <% for (let i = 1; i <= totalPages; i++) { %> <option
                        value="<%= i %>" <% if (i === currentPage ) {
                        %>selected<% } %>> <%= i %> <% } %>
                      </select>
                    </div>
                    <div><%=totalPages%></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function submitForm() {
    // Get the form element by its ID
    var form = document.getElementById("searchForm");

    // Submit the form
    form.submit();
  }
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  function sendOfferId(offerId, product_id) {
    // Use the Fetch API to send the offerId to the server
    fetch("/admin/applyofferproduct", {
      method: "POST", // or 'GET' depending on your server route
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ offerId: offerId, product_id: product_id }),
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.success) {
    
          Swal.fire({
            title: "Offer Added",
            text: "The offer has been added to the product.",
            icon: "success",
            showConfirmButton: false,
                timer: 1500
          }).then(() => window.location.reload());
        } else {
          Swal.fire({
            title: "Offer Not Added",

            text: "Already have a big offer.",
            icon: "error",
            showConfirmButton: false,
                timer: 1500
          }).then(() => window.location.reload());
        }
      })
      .catch((error) => {
        console.error("Error:", error);
      });
  }
</script>

<script>
  function actionOfferproduct(product_id) {
    const url = "/admin/removeofferproduct";

    // Example data to be sent in the request body
    const requestData = {
      product_id: product_id,

      // Add more data as needed
    };

    fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        // Add any additional headers if needed
      },
      body: JSON.stringify(requestData),
    })
      .then((response) => {
        if (!response.ok) {
          throw new Error("Network response was not ok");
        }
        return response.json();
      })
      .then((data) => {
        if (data.success) {
          // Call swal after ensuring that SweetAlert is loaded
          Swal.fire({
            title: "Success!",
            text: "Offer successfully Removed",
            icon: "success",
            showConfirmButton: false,
                timer: 1500
          }).then(() => window.location.reload());
        } else {
          // Handle unsuccessful response if needed
        }
      })
      .catch((error) => {
        console.error("There was a problem with the fetch operation:", error);
        // Handle errors that occurred during the fetch
      });
  }
</script>
<script src="/static/admin/assets/js/bundlee5ca.js?ver=3.2.3"></script>
<script src="/static/admin/assets/js/scriptse5ca.js?ver=3.2.3"></script>
<script src="/static/admin/assets/js/demo-settingse5ca.js?ver=3.2.3"></script>
<!-- Mirrored from dashlite.net/demo2/ecommerce/products.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 12 Oct 2023 14:33:03 GMT -->
</body>
<!-- Mirrored from dashlite.net/demo2/ecommerce/customers.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 12 Oct 2023 14:33:03 GMT -->
</html>

