<%- include("../layouts/adminHeader.ejs")%> <%-
include("../layouts/adminSideBar.ejs")%>
<div class="nk-content">
  <div class="container-fluid">
    <div class="nk-content-inner">
      <div class="nk-content-body">
        <div class="nk-block-head nk-block-head-sm">
          <div class="nk-block-between">
            <div class="nk-block-head-content">
              <h3 class="nk-block-title page-title">Products</h3>
            </div>
            <div class="nk-block-head-content">
              <div class="toggle-wrap nk-block-tools-toggle">
                <a
                  href="#"
                  class="btn btn-icon btn-trigger toggle-expand me-n1"
                  data-target="pageMenu"
                  ><em class="icon ni ni-more-v"></em
                ></a>
                <div class="toggle-expand-content" data-content="pageMenu">
                  <ul class="nk-block-tools g-3">
                    <li>
                      <form id="searchForm" action="" method="get">
                        <div class="form-control-wrap">
                          <div class="form-icon form-icon-right">
                            <em id="searchIcon" class="icon ni ni-search" onclick="submitForm()"></em>
                          </div>
                          <input
                            type="text"
                            class="form-control"
                            id="default-04"
                            placeholder="Search by name"
                            name="search"
                          />
                        </div>
                      </form>
                      
                    </li>
                    <li>
                      <div class="drodown">
                        <a
                          href="#"
                          class="dropdown-toggle dropdown-indicator btn btn-outline-light btn-white"
                          data-bs-toggle="dropdown"
                          >Status</a
                        >
                        <div class="dropdown-menu dropdown-menu-end">
                          <ul class="link-list-opt no-bdr">
                            <li>
                              <a href="#"><span>New Items</span></a>
                            </li>
                            <li>
                              <a href="#"><span>Featured</span></a>
                            </li>
                            <li>
                              <a href="#"><span>Out of Stock</span></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </li>
                   
                    <li class="nk-block-tools-opt">
                      <a href="addproducts" class="btn btn-primary">
                        <em class="icon ni ni-plus"></em>
                        <span>Add Product</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="nk-block">
          <div class="nk-tb-list is-separate mb-3">
            <div class="nk-tb-item nk-tb-head">
              <div class="nk-tb-col nk-tb-col-check">
                <div
                  class="custom-control custom-control-sm custom-checkbox notext"
                >
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="pid"
                  /><label class="custom-control-label" for="pid"></label>
                </div>
              </div>
              <div class="nk-tb-col tb-col-sm"><span>Name</span></div>
              <div class="nk-tb-col"><span>Status</span></div>
              <div class="nk-tb-col"><span>Price</span></div>
              <div class="nk-tb-col"><span>Stock</span></div>
              <div class="nk-tb-col tb-col-md">
                <span>Category</span>
              </div>
              <div class="nk-tb-col tb-col-md">
                <em class="tb-asterisk icon ni ni-star-round"></em>
              </div>
              <div class="nk-tb-col nk-tb-col-tools">
                <ul class="nk-tb-actions gx-1 my-n1">
                  <li class="me-n1">
                    <div class="dropdown">
                      <a
                        href="#"
                        class="dropdown-toggle btn btn-icon btn-trigger"
                        data-bs-toggle="dropdown"
                        ><em class="icon ni ni-more-h"></em
                      ></a>
                      <div class="dropdown-menu dropdown-menu-end">
                        <ul class="link-list-opt no-bdr">
                          <li>
                            <a href="#"
                              ><em class="icon ni ni-edit"></em
                              ><span>Edit Selected</span></a
                            >
                          </li>
                          <li>
                            <a href="#"
                              ><em class="icon ni ni-trash"></em
                              ><span>Remove Selected</span></a
                            >
                          </li>
                          <li>
                            <a href="#"
                              ><em class="icon ni ni-bar-c"></em
                              ><span>Update Stock</span></a
                            >
                          </li>
                          <li>
                            <a href="#"
                              ><em class="icon ni ni-invest"></em
                              ><span>Update Price</span></a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <%products.forEach((value,index)=>{%>

            <div class="nk-tb-item">
              <div class="nk-tb-col nk-tb-col-check">
                <div
                  class="custom-control custom-control-sm custom-checkbox notext"
                >
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="pid<%=index+1%>"
                  /><label
                    class="custom-control-label"
                    for="pid<%=index+1%>"
                  ></label>
                </div>
              </div>
              <div class="nk-tb-col tb-col-sm">
                <span class="tb-product"
                  ><img
                    src="/static/productsImages/<%=value.images.image1%>"
                    alt=""
                    class="thumb"
                  /><span class="title"><%=value.productname%></span></span
                >
              </div>
              <div class="nk-tb-col">
                <span class="tb-sub"> <% if (value.active == 0) { %><p class="text-success">active</p><% } else { %><p class="text-danger">Blocked</p><% } %></span>
              </div>
              <div class="nk-tb-col">
                <span class="tb-lead"> <%=value.price%></span>
              </div>
              <div class="nk-tb-col">
                <span class="tb-sub"><%=value.stock%></span>
              </div>
              <div class="nk-tb-col tb-col-md">
                <span class="tb-sub"><%=value.frameshape%></span>
              </div>
              <div class="nk-tb-col tb-col-md">
                <div class="asterisk tb-asterisk">
                  <a href="#"
                    ><em class="asterisk-off icon ni ni-star"></em
                    ><em class="asterisk-on icon ni ni-star-fill"></em
                  ></a>
                </div>
              </div>
              <div class="nk-tb-col nk-tb-col-tools">
                <ul class="nk-tb-actions gx-1 my-n1">
                  <li class="me-n1">
                    <div class="dropdown">
                      <a
                        href="#"
                        class="dropdown-toggle btn btn-icon btn-trigger"
                        data-bs-toggle="dropdown"
                        ><em class="icon ni ni-more-h"></em
                      ></a>
                      <div class="dropdown-menu dropdown-menu-end">
                        <ul class="link-list-opt no-bdr">
                          <li>
                            <a href="editproducts?id=<%=value._id%>"
                              ><em class="icon ni ni-edit"></em
                              ><span>Edit Product</span></a
                            >
                          </li>
                          <li>
                            <a href="#"
                              ><em class="icon ni ni-eye"></em
                              ><span>View Product</span></a
                            >
                          </li>
                          <li>
                            <a href="#"
                              ><em class="icon ni ni-activity-round"></em
                              ><span>Product Orders</span></a
                            >
                          </li>
                          <% if (value.active== 0) { %>
                            <li>
                              <a href="/admin/suspendproduct?id=<%=value._id %>"
                                ><em class="icon ni ni-na"></em
                                ><span>Suspend</span></a
                              >
                            </li>
                            
                          <% } else { %>
                            <li>
                              <a href="/admin/activeproduct?id=<%=value._id %>"
                                ><em class="icon ni ni-eye-alt-fill"></em>
                                 
                                <span>active</span></a
                              >
                            </li>
                          <% } %>
                          
                        
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <%})%>
          </div>
          
          <div class="card">
            <div class="card-inner">
              <div class="nk-block-between-md g-3">
                <div class="g">
                  <ul
                    class="pagination justify-content-center justify-content-md-start"
                  >
                  <% if (previospage > 0) { %>
                    <li class="page-item">
                      <a class="page-link" href="?page=<%= previospage %>&search=<%=search%>"
                        ><em   class="icon ni ni-chevrons-left"></em
                      ></a>
                    </li>
                    <% } %>
                    <% let page=0;
                    if(totalPages< 10){
                      page= Math.ceil(totalPages/3);
                    }else{
                      page= Math.floor(totalPages/5);
                    }
                    
                    for (let i=1;i<=page;i++){%>
                    <li class="page-item">
                      <a class="page-link" href="?page=<%= i %>&search=<%=search%>"><%=i%></a>

                    </li>
                    <%}%>
                   
                    
                    <li class="page-item">
                      <span class="page-link"
                        ><em class="icon ni ni-more-h"></em
                      ></span>
                    </li>
                    <% 
                    
                    for (let i=totalPages-1 ;i<=totalPages ;i++){%>
                    <li class="page-item">
                      <a  class="page-link" href="?page=<%=i %>&search=<%=search%>"><%=i%></a>
                    </li>
                    
                    <% } %> <% if (currentPage < totalPages) { %>
                    <li class="page-item">
                      <a class="page-link" href="?page=<%= nextpage %>&search=<%=search%>"
                        ><em  class="icon ni ni-chevrons-right"></em
                      ></a>
                    </li>
                    <% } %>
                  </ul>
                </div>
                <div class="g">
                  <div
                    class="pagination-goto d-flex justify-content-center justify-content-md-start gx-3"
                  >
              
                    <div>Page</div>
                    <div>
                      <select
              
                      class="form-select js-select2"
                      data-search="on"
                      onchange="window.location.href='?page=' + this.value"
                      
                      data-dropdown="xs center"
                    >
                      <% for (let i = 1; i <= totalPages; i++) { %>
                        <option value="<%= i %>" <% if (i === currentPage ) { %>selected<% } %>>
                          <%= i %>
                        </option>
                      <% } %>
                    </select>
                    </div>
                    <div><%=totalPages%></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div
          class="nk-add-product toggle-slide toggle-slide-right"
          data-content="addProduct"
          data-toggle-screen="any"
          data-toggle-overlay="true"
          data-toggle-body="true"
          data-simplebar
        >
          <div class="nk-block-head">
            <div class="nk-block-head-content">
              <h5 class="nk-block-title">New Product</h5>
              <div class="nk-block-des">
                <p>Add information and add new product.</p>
              </div>
            </div>
          </div>
          <form
            action="/admin/addproducts"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="nk-block">
              <div class="row g-3">
                <div class="col-12">
                  <div class="form-group">
                    <label class="form-label" for="product-title"
                      >Product name</label
                    >
                    <div class="form-control-wrap">
                      <input
                        name="productname"
                        type="text"
                        required
                        class="form-control"
                        id="product-title"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-mb-6">
                  <div class="form-group">
                    <label class="form-label" for="frameshape"
                      >Frame Shape</label
                    >
                    <div class="form-control-wrap">
                      <input
                        name="frameshape"
                        type="text"
                        required
                        class="form-control"
                        id="frameshape"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label class="form-label" for="category">Category</label>
                    <div class="form-control-wrap">
                      <input
                        name="category"
                        type="text"
                        required
                        class="form-control"
                        id="category"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="brand">Brand</label>
                    <div class "form-control-wrap">
                    <input
                      name="brand"
                      type="text"
                      required
                      class="form-control"
                      id="brand"
                    />
                  </div>
                </div>
              </div>
              <div class="col-mb-6">
                <div class="form-group">
                  <label class="form-label" for="stock">Stock</label>
                  <div class="form-control-wrap">
                    <input
                      type="number"
                      name="stock"
                      required
                      class="form-control"
                      id="stock"
                    />
                  </div>
                </div>
              </div>
              <div class="col-mb-6">
                <div class="form-group">
                  <label class="form-label" for="price">Price</label>
                  <div class="form-control-wrap">
                    <input
                      name="price"
                      type="number"
                      required
                      class="form-control"
                      id="price"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label class="form-label" for="description"
                    >Description</label
                  >
                  <div class="form-control-wrap">
                    <textarea
                      class="form-control"
                      id="description"
                      required
                      name="description"
                    ></textarea>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <label class="form-label" for="images">Upload Images</label>
                  <div class="form-control-wrap">
                    <div class="upload-zone">
                      <div class="dz-message" data-dz-message>
                        <span class="dz-message-text">Drag and drop file</span>
                        <span class="dz-message-or">or</span>
                        <button class="btn btn-primary">SELECT</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label class="form-label" for="images">Upload Images</label>
                  <div class="form-control-wrap">
                    <div class="upload-zone">
                      <div class="dz-message" data-dz-message>
                        <span class="dz-message-text">Drag and drop file</span>
                        <span class="dz-message-or">or</span>
                        <button class="btn btn-primary">SELECT</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label class="form-label" for="images">Upload Images</label>
                  <div class="form-control-wrap">
                    <div class="upload-zone">
                      <div class="dz-message" data-dz-message>
                        <span class="dz-message-text">Drag and drop file</span>
                        <span class="dz-message-or">or</span>
                        <button class="btn btn-primary">SELECT</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label class="form-label" for="images">Upload Images</label>
                  <div class="form-control-wrap">
                    <div class="upload-zone">
                      <div class="dz-message" data-dz-message>
                        <span class="dz-message-text">Drag and drop file</span>
                        <span class="dz-message-or">or</span>
                        <button class="btn btn-primary">SELECT</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="col-12">
                  <div class="upload-zone small bg-lighter my-2">
                    <div class="dz-message">
                      <span class="dz-message-text">Drag and drop file</span>
                    </div>
                  </div>
                </div> -->
              <!-- <div class="col-12">
                <button type="submit" class="btn btn-primary">
                  <em class="icon ni ni-plus"></em>
                  <span>Add New</span>
                </button>
              </div> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  function submitForm() {
    // Get the form element by its ID
    var form = document.getElementById('searchForm');
    
    // Submit the form
    form.submit();
  }
</script>
<script src="/static/admin/assets/js/bundlee5ca.js?ver=3.2.3"></script>
<script src="/static/admin/assets/js/scriptse5ca.js?ver=3.2.3"></script>
<script src="/static/admin/assets/js/demo-settingse5ca.js?ver=3.2.3"></script>
<!-- Mirrored from dashlite.net/demo2/ecommerce/products.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 12 Oct 2023 14:33:03 GMT -->
